*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
    }
    body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: url(backgraounds.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    
    }
    .contnair{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    width: 350px;
    box-sizing:content-box;
    padding: 20px 40px;
    border-radius:15px;
    box-shadow: 0 0 20px aqua;
    
    }
    h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: aqua;
  
    }
    p{
    font-size: 20px;
    margin: 15px 0;
    color: aqua;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    }
    .inputBox {
    	position:relative;
    	width:100%;
    	color:black;

    }
    .inputBox:hover{
        color: rgb(230, 75, 75);
    }
    input{
    position:relative;
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 10px 15px;
    border-radius:5px 5px;
    outline: none;
    color:black;
    border:1px solid #000;
    background-color:white;

    
    }
    input:hover{
        box-shadow: #fff 2px 2px 10px 2px ;
        transform: scale(1.03);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        
    }
    
    #eyeIcon{
    	position:absolute;
    	right:0;
    	top: 10px;
    	height: 20px;
    }
    #eyeIcon svg{
    	width:auto;
    	height:20px;
    }
    button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    background-color: #2c4766;
    color: aqua;
    }
    button:hover{
    background-color: #fff;

    color: #000;
    }

    input[type="submit"]{
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0;
        padding: 10px 15px;
        width: 30%;
        border: 0;
        border-radius: 5px;
        background-color: #2c4766;
        color: aqua;
        }
        button:hover{
        background-color: #fff;
    
        color: #000;
        }
    form ul{
        display: block;
        margin: 0;
        background: #c00;
        color: #fff;
        width: 100%;
        border-radius:4px;
        list-style-position: inside;
        list-style-type: square;
        padding: 10px;
        font-size:0.9em;
    }
    form ul:empty{
        padding: 0;
    }